
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
	
	




.box{
	width:20px;
	height:20px;
	background-color:red;
}

.box1{
	width:20px;
	height:20px;
	background-color:blue;
}
.box2{
	width:20px;
	height:20px;
	background-color:yellow;
}
